<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.metodosanalisis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".UnaVariable"
            android:label="Una Variable" >
        </activity>
        <activity
            android:name=".reglafalsa"
            android:label="Regla Falsa" >
        </activity>
        <activity
            android:name=".newtonr"
            android:label="Newton" >
        </activity>
        <activity
            android:name=".SistemasDeEcuaciones"
            android:label="Sistemas De Ecuaciones" >
        </activity>
        <activity
            android:name=".Interpolacion"
            android:label="@string/title_activity_interpolacion" >
        </activity>
        <activity
            android:name=".InterpolacionIntegracion"
            android:label="@string/title_activity_interpolacion_integracion" >
        </activity>
        <activity
            android:name=".biseccion"
            android:label="Biseccion" >
        </activity>
        <activity
            android:name=".PuntoFijo"
            android:label="Punto Fijo " >
        </activity>
        <activity
            android:name=".NewtonR"
            android:label="Newton" >
        </activity>
        <activity
            android:name=".Secante"
            android:label="@string/title_activity_secante" >
        </activity>
        <activity
            android:name=".Eliminacion_Gauss"
            android:label="@string/title_activity_eliminacion__gauss" >
        </activity>
        <activity
            android:name=".Factorizacion"
            android:label="@string/title_activity_factorizacion" >
        </activity>
        <activity
            android:name=".Metodos_Iterativos"
            android:label="@string/title_activity_metodos__iterativos" >
        </activity>
        <activity
            android:name=".Pivoteo_Escalonado"
            android:label="@string/title_activity_pivoteo__escalonado" >
        </activity>
        <activity
            android:name=".SelectSizeOfMatrix"
            android:label="@string/title_activity_select_size_of_matrix" >
        </activity>
        <activity
            android:name=".SetUpIterativeMethods"
            android:label="@string/title_activity_set_up_iterative_methods" >
        </activity>
        <activity
            android:name=".SelectNumberOfPoints"
            android:label="@string/title_activity_select_number_of_points" >
        </activity>
        <activity
            android:name=".SolucionInterpolacion"
            android:label="@string/title_activity_solucion_interpolacion" >
        </activity>
        <activity
            android:name=".SolucionIntegracion"
            android:label="@string/title_activity_solucion_integracion" >
        </activity>
    </application>

</manifest>
